*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.avatar {
    width: 50px;
    height: 50px;
}

.caption {
    height: 55px;
    background-color: rgb(199, 193, 193);
}

.postPicture {
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
    object-position: center;
}

.preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}