@import './Base/base';
@import './Pages/signLog';

body, html {
    height: 100%;
}

// #signin-form {
//     margin: 0 auto;
//     width: 50%;
//     display: flex;
//     flex-direction: column;
// }

.test-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.test-item {
    margin: 50px 0 50px 0;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;

}

.formulaireImage {
    margin: 20px 0 50px 0;
}

// .connection {
//     width: 50%;
//     border: 1px solid black;
//     margin: auto;
// }
