#signin-form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.test-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.test-item {
    margin-top: 50px;
}