.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(45deg, #091f43, #d1515a);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 25%;
    &-small {
        width: 100%;
    background: linear-gradient(45deg, #091f43, #d1515a);

    }
}

.liste {
    list-style-type: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-small {
        width: 100%;
    }
}

.items{
    color: #f1f1f1;
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.5rem;
}

.search-container {
    position: relative;
    margin: 0 auto;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.search-liste {
    position: absolute;
    list-style-type: none;
    top: 15px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    background: rgba(0,0,0,0.4);
    max-height: 320px;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    & li {
        width: 100%;
        padding: 7px 15px;
        border-top: 1px solid rgba(255, 254, 254, 0.6);
        &:nth-child(0n+1) {
            padding-top: 15px;
            border-top: 0px;
        }
        & a {
            text-decoration: none;
            color: #f1f1f1;
        }
    }
    &-avatar {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin-right: 10px;
    }
}

.search {
    border-radius: 25px;
    height: 25px;
    font-size: 1.2rem;
    padding: 0 10px;
    z-index: 1;
    &-small {
        display: none;
    }
    &-icon {
        width: 20px;
        height: 20px;
    }
}

.nav-small {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, #091f43, #d1515a);
    display: flex;
    justify-content: center;
    align-items: center;
    & li {
        flex-basis: auto;
    }
}
